.app-advertising {
  background: #f2f2f2;
}

.app-advertising__items {
  list-style: none;
}

.app-advertising__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;
}

.app-advertising__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.app-advertising__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
