.app-advertising {
  background: #f2f2f2;
}

.app-advertising__container {
  display: grid;
}

.app-advertising__items {
  display: flex;
  flex-direction: column;
  align-self: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 2/2;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.app-advertising__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;

  @media (min-width: $tablet-width) {
    grid-column: 2/2;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.app-advertising__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.app-advertising__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

.app-advertising__hidden-img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-row: 3/3;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
