.form__list {
  list-style: none;
}

.form__list-item {
  .label-caption {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;
  }

  .text {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}

.label-checkbox,
.label-radio {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
