.form__slogan {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 91px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0;
  }
}

.form__hidden-slogan {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.form__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 39px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form__fieldset-survey {
  padding-left: 0;
  padding-right: 0;
  border: none;

  .form__list-item1 {
    padding-bottom: 50px;

    @media (min-width: $desktop-width) {
      order: -2;
    }
  }

  .form__list-item2 {
    padding-bottom: 54px;

    @media (min-width: $desktop-width) {
      order: 1;
    }
  }

  .form__list-item3 {
    padding-bottom: 54px;

    @media (min-width: $tablet-width) {
      padding-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      order: -1;
    }
  }

  .form__list-item4 {
    padding-bottom: 54px;

    @media (min-width: $tablet-width) {
      padding-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      order: 2;
      padding-left: 32px;
    }
  }

  .form__list-item5 {
    padding-bottom: 49px;

    @media (min-width: $tablet-width) {
      padding-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      order: 0;
      padding-right: 62px;
    }
  }

  .form__list-item6 {
    @media (min-width: $desktop-width) {
      order: 3;
      padding-right: 57px;
    }
  }

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding-bottom: 0;

    .form__title {
      padding-top: 23px;
    }

    br {
      display: none;
    }

    .form__list {
      padding-left: 57px;
      padding-top: 5px;
      margin-bottom: 0;
    }
  }

  .form__list {
    @media (min-width: $desktop-width) {
      display: flex;
      padding: 5px 0 6px 62px;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.form__survey-container {
  background: #f2f2f2;

  @media (min-width: $tablet-width) {
    grid-row: 4;
    grid-column: 1/1;
    background: #ffffff;
    margin-top: 38px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3;
    grid-column: 1/3;
    margin-top: 33px;

    .container {
      padding: 0;
    }
  }
}

.form__submit {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 4px;
  padding-top: 15px;
  margin-top: 38px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-top: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 8/9;
    grid-column: 1/2;
  }
}

.form__require {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
  padding-top: 18px;
  padding-left: 49px;

  @media (min-width: $desktop-width) {
    padding-left: 35px;
    margin-right: 14px;
    display: flex;
    letter-spacing: 0.3px;
  }

  .form__end-star {
    color: #d22856;
  }
}

.form__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-right: 0;
  }
}

.form__list-item {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-bottom: 52px;
  }

  .form__label-caption {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;
    padding-left: 22px;
    text-transform: uppercase;
    padding-bottom: 6px;
  }

  .form__text {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    flex-grow: 1;
    height: 62px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding-left: 19px;
    letter-spacing: 0.5px;
  }
}

.form__label-checkbox {
  position: relative;
  padding-left: 57px;
}

.form__label-checkbox,
.form__label-radio {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form__textarea-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  width: 100%;
  padding-bottom: 126px;
  padding-top: 12px;
  padding-left: 23px;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    padding-bottom: 118px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}

.form__fieldset {
  border: none;
}

.form__main-form {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    width: 960px;
    margin: 0 auto;
  }
}

.form__fieldset-program {
  .form__list {
    padding-top: 3px;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-top: 3px;
      margin-bottom: 3px;
    }
  }

  .form__label-radio {
    padding-left: 70px;

    @media (min-width: $tablet-width) {
      padding-left: 102px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 120px;
    }
  }

  .form__list-item {
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding-bottom: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }
}

.form__program-container {
  background: #f2f2f2;

  @media (min-width: $tablet-width) {
    background: none;
    grid-row: 2;
    grid-column: 1/1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 2/2;

    .container {
      width: 478px;
      margin: 49px 0 0 48px;
    }
  }
}

.form__contacts {
  @media (min-width: $tablet-width) {
    grid-row: 3;
    grid-column: 1/1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2;
    grid-column: 1/3;
    margin: 0 0 0 10px;
    padding: 0;
    width: 940px;
  }
}

.form__fieldset-contacts {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding-top: 0;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
    padding-bottom: 0;
  }

  .form__list {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      padding: 0 0 0;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  }

  .form__label-caption {
    @media (min-width: $tablet-width) {
      padding-right: 344px;
      padding-left: 10px;
      padding-top: 10px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 152px;
      padding-left: 0;
    }
  }
}

.form__field-emotions {
  border: none;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  .form__title {
    padding-bottom: 17px;

    @media (min-width: $tablet-width) {
      padding-left: 38px;
      padding-right: 38px;
      padding-top: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 4;
    grid-column: 1/3;
  }
}

.form__fieldset-name {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 16px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column: 1/1;

    .form__label {
      padding-left: 0;
      padding-right: 19px;
      padding-top: 7px;
    }

    .form__list-item3 {
      padding-bottom: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 1/2;
    width: 445px;
    margin: 0;
    padding: 29px 0 0 9px;

    .form__list-item1 {
      padding-bottom: 55px;
    }
  }
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked {
  &+.form__label-checkbox::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10px;
    right: auto;
    width: 22px;
    height: 16px;
    z-index: 10;
    background: url("../img/icons/icon-yes.svg") no-repeat center;
  }
}

.form__label-checkbox::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  z-index: 10;
}

.form__title-contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.form__tel {
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 18px;
  letter-spacing: 0.5px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    padding-left: 19px;
  }
}

.form__list-item--tel {
  label {
    padding-bottom: 7px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 36px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 10px 37px;
  }
}

.form__list-item--tel::after {
  @media (min-width: $tablet-width) {
    width: 61px;
    height: 59px;
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 44px;
    left: auto;
    right: 37px;
    background: #e5e5e5 url("../img/icons/icon-phone.svg") no-repeat center;
    z-index: 20;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    right: -21px;
    bottom: 57px;
    height: 60px;
  }
}

.form__email {
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 18px;
  letter-spacing: 0.5px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 332px;
    padding-left: 19px;
  }
}

.form__list-item--email {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    padding: 25px 36px 12px 36px;
    position: relative;

    .form__label-caption {
      padding-right: 362px;
      padding-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 78px 9px 0;

    .form__label-caption {
      padding-right: 199px;
      padding-left: 0;
    }
  }
}

.form__list-item--email::after {
  @media (min-width: $tablet-width) {
    width: 61px;
    height: 59px;
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 30px;
    left: auto;
    right: 37px;
    background: #e5e5e5 url("../img/icons/icon-mail.svg") no-repeat center;
    z-index: 20;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    bottom: 55px;
    height: 60px;
  }
}

.form__end {
  @media (min-width: $tablet-width) {
    grid-row: 6;
    grid-column: 1/1;
    display: flex;
    padding-top: 2px;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    grid-row: 6;
    grid-column: 1/3;
    padding: 0 0 0 4px;
  }
}

.form__emotions-text {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 12px 54px 30px 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 52px 27px 57px;
  }
}

.form__radio {
  display: none;
}

.form__label-radio:hover::before {
  border: 2px solid #283645;
}

.form__label-radio::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 18px;
  left: 0;
  right: auto;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 44px;
  }

  @media (min-width: $desktop-width) {
    left: 57px;
  }
}

.form__radio:checked+.form__label-radio::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 18px;
  left: 13px;
  right: auto;
  width: 15px;
  height: 15px;
  z-index: 10;
  background: #d22856;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 55px;
  }

  @media (min-width: $desktop-width) {
    left: 71px;
  }
}

.form__label-radio {
  position: relative;
  padding-left: 53px;
  padding-bottom: 20px;
}

.form__emotions-container {
  @media (min-width: $tablet-width) {
    grid-row: 5;
    grid-column: 1/1;
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 5;
    grid-column: 1/3;
    padding: 0;
    margin: 33px 0 0 7px;
    width: 940px;
  }
}

.form__pole {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    color: #283645;
  }
}
