.section-form__slogan {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.form__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.form__fieldset-survey {
  background: #f2f2f2;
}

.form__submit {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
}

.form__require {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;

  span {
    color: #d22856;
  }
}

.form__list {
  list-style: none;
}

.form__list-item {
  .form__label-caption {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;
  }

  .form__text {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}

.form__label-checkbox,
.form__label-radio {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form__textarea-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
