.intro {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}

.intro-index::before {
  content: "";
  position: absolute;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  width: 258px;
  height: 286px;
  top: 29px;
  left: 33px;

  @media (min-width: $tablet-width) {
    left: 50%;
    top: 25%;
    z-index: 10;
  }
}

.intro__container {
  display: flex;
  flex-direction: column;
  background-color: #1d2631;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    align-items: flex-start;
    z-index: 20;
  }
}

.intro__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.intro__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  text-decoration: none;
  width: 280px;
  height: 55px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.intro__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 280px;
  margin: 0 auto;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.intro__content {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.intro__form {
  font-size: 24px;
  line-height: 33px;
}

.intro--photo {
  display: flex;
  flex-direction: column;
}

.intro-index {
  .intro__title {
    padding-bottom: 286px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      display: block;
      max-width: 245px;
      padding-bottom: 20px;
      margin: 0;
      padding-right: 75%;
      padding-top: 10%;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 20px;
      margin: 0;
      padding-right: 90%;
      padding-top: 10%;
      width: 300px;
    }
  }
}
