.main-contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;
}

.main-contacts__tel-title,
.main-contacts__write-title,
.main-contacts__adress-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #283645;
}

.main-contacts__tel,
.main-contacts__write-mail,
.main-contacts__adress-info {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #d22856;
}
