.main-photo__container {
  list-style: none;
}

.main-photo__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;

  span {
    font-weight: 300px;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #283645;
  }
}

.main-photo__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.main-photo__like,
.main-photo__like span {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
}

.main-photo__caption {
  background: #f2f2f2;
}

.main-photo__panorama {
  width: 100%;
}

.main-photo__panorama-caption {
  background: #f2f2f2;
  margin: 0 auto;
}

.main-photo__panorama-user {
  justify-self: stretch;
}

.main-photo__title-invitation {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: $tablet-width) {
    width: 440px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    font-size: 18px;
  }
}

.main-photo__list {
  display: grid;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.main-photo__panorama-item {
  grid-column: 1/1;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}
