.modal {
  display: none;
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  background: #ffffff;
  z-index: 200;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 460px;
  }
}

.modal__content {
  padding: 43px 20px 33px;

  @media (min-width: $tablet-width) {
    padding: 43px 80px 33px;
  }
}

.modal__headline,
.modal__text {
  line-height: 24px;
  background: #ffffff;
  margin: 0;
}

.modal__headline {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    padding: 0 20px;
  }
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
  color: #283645;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.modal__footer {
  padding: 7px 20px 50px;

  @media (min-width: $tablet-width) {
    padding: 7px 80px 50px;
  }
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
}

.btn--cancel,
.btn--modal,
.btn--post {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.btn--modal {
  line-height: 30px;
  margin: 0 auto;
  padding: 19px 38px;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  background: #2aab6d;
  border-radius: 5px;
}
