.page-footer__copyright-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.page-footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-top: 28px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
  }

  img {
    padding-left: 15px;
    padding-bottom: 0;
  }
}

.page-footer__item-facebook {
  padding: 0 0;

  img {
    padding-left: 18px;
    padding-top: 13px;
  }
}

.page-footer__icon {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: auto 6px;
  vertical-align: top;
  line-height: 46px;
  background: #ffffff;
  border-radius: 50%;
  border: 3px solid #e9ebec;
  text-decoration: none;
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.page-footer {
  margin-bottom: -124px;
}

.page-footer__blue-mobile {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__blue-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__twitter-svg,
.page-footer__facebook-svg,
.page-footer__youtube-svg {
  fill: #d22856;
}

.page-footer__icon-academy {
  fill: #d22856;
}
