.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top -6px center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 100% auto;
  }

  @media (min-width: $tablet-width) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }
}

.page-header__background {
  background: rgba(0, 0, 0, 0.5);
}

.page-header__container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__toggle {
  display: flex;
  width: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: 0 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__icon::before,
.page-header__icon::after {
  content: "";
  position: absolute;
  margin: auto;
  bottom: auto;
  left: auto;
  right: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
}

.page-header__icon {
  position: relative;
  width: 50px;
  height: 4px;
  background: 0;
}

.page-header__icon::before {
  top: 10px;
}

.page-header__icon::after {
  top: 20px;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px;
  border-bottom: 1px solid #000001;
  cursor: pointer;
  background: #283645;

  @media (min-width: $tablet-width) {
    padding: 43px 22px 38px;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    background: 0;
  }
}


.page-header__top .page-header__toggle > span::after,
.page-header__top .page-header__toggle > span::before {
  top: 0;
  width: 29px;
  background: #ffffff;
  transform-origin: 50% 50%;
  transform: rotate3d(0, 0, 1, 45deg);
}

.page-header__top .page-header__toggle > span::before {
  transform: rotate3d(0, 0, 1, -45deg);
}

.page-header__open-index {
  background-position: bottom 277px center;

  @media (min-width: $tablet-width) {
    background-size: 171%;
    background-position: bottom 10px center;
  }
}

.page-header__open-photo {
  @media (min-width: $tablet-width) {
    background-size: 171%;
    background-position: bottom -253px center;
  }
}
