.page-footer__copyright-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 7px;

  @media (min-width: $tablet-width) {
    margin-left: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    padding-top: 15px;
  }
}

.page-footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 12px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-top: 32px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-right: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
    margin-right: 46px;
    margin-left: 60px;
    width: 182px;
  }

  img {
    padding-left: 15px;
    padding-bottom: 0;
  }
}

.page-footer__item-facebook {
  padding: 0 0;

  img {
    padding-left: 18px;
    padding-top: 13px;
  }
}

.page-footer__icon:hover {
  border: 3px solid #283645;
}

.page-footer__icon {
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: auto 6px;
  vertical-align: top;
  line-height: 46px;
  background: #ffffff;
  border-radius: 50%;
  border: 3px solid #e9ebec;
  text-decoration: none;
  padding-left: 16px;
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 8px;
    padding-bottom: 0;
  }
}

.page-footer {
  margin-bottom: -124px;

  @media (min-width: $tablet-width) {
    margin-bottom: -150px;
  }

  @media (min-width: $desktop-width) {
    .container {
      padding: 18px 0 0 0;
    }
  }

  .page-footer__copyright-photo {
    padding-top: 34px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 0 0;
    }
  }

  .page-footer__copyright-form {
    padding-top: 41px;

    @media (min-width: $tablet-width) {
      padding-top: 51px;
    }

    @media (min-width: $desktop-width) {
      padding: 23px 0 0 0;
    }
  }
}

.page-footer__blue-mobile {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__blue-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__twitter-svg,
.page-footer__facebook-svg,
.page-footer__youtube-svg {
  fill: #d22856;
}

.page-footer__icon-academy {
  fill: #d22856;
  margin-left: 10px;
}

.page-footer__icon--facebook {
  padding-left: 19px;
}
