.panorama-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.panorama-day__panorama {
  width: 100%;
}

.panorama-day__panorama-caption {
  width: 280px;
  background: #f2f2f2;
  margin: 0 auto;

  @media (min-width: 660px) {
    width: 605px;
  }

  @media (min-width: 960px) {
    width: 940px;
  }
}

.panorama-day__panorama-user {
  justify-self: stretch;
}

.panorama-day__title-invitation {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  width: 250px;
  margin: 0 auto;

  @media (min-width: 660px) {
    width: 440px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    width: 460px;
    font-size: 18px;
  }
}
