.photo-posting__button--submit {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  width: 280px;
  height: 55px;
  margin-bottom: 13px;
}

.photo-posting__button--reset {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #283645;
  opacity: 0.1;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  width: 280px;
  height: 55px;
}

.photo-posting {
  background: #f2f2f2;

  @media (min-width: $desktop-width) {
    background: #ffffff;
  }
}

.photo-posting__container {
  display: flex;
  flex-direction: column;
}

.photo-posting__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  li {
    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.photo-posting__form {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    background: #f2f2f2;
  }
}

.photo-posting__controls-bar {
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background: #283645;
}

.photo-posting__controls-toggle {
  content: "";
  position: absolute;
  top: 20px;
  right: 53px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #d22856;
  background: #f2f2f2;
  z-index: 10;
  cursor: pointer;
}

.photo-posting__controls-mobile {
  position: relative;
  padding-bottom: 72px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo-posting__button-container {
  display: flex;
  flex-direction: column;
}

.photo-posting__img {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

.photo-posting__controls-crop,
.photo-posting__controls-fill,
.photo-posting__controls-contrast {
  position: relative;

  @media (min-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  .photo-posting__controls-toggle {
    top: -5px;
  }
}
