.price {
  color: #283645;
  font-weight: 400;
  font-style: normal;
  display: block;
  font-size: 0;
  line-height: 0;
  position: relative;
  padding: 101px 0 97px;
  text-align: center;
  background: #f2f2f2;
  clip-path: polygon(0 calc(14% - 49px), 100% 0, 100% 100%, 0 100%);

  @media (min-width: $tablet-width) {
    padding: 97px 0 67px;
    clip-path: polygon(0 calc(12% - 10px), 100% 0, 100% 100%, 0 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 161px 0 98px;
    clip-path: polygon(0 calc(21% - 9px), 100% 5px, 100% 100%, 0 100%);
  }
}

.price input[type="radio"] {
  position: absolute;
  bottom: 0;
  opacity: 0;
}


.price__controls {
  content: "";
  position: absolute;
  margin: auto;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 120px;
  height: 20px;
  padding-bottom: 59px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__controls label {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 6px;
  vertical-align: top;
  background: #283645;
  opacity: 0.3;
  border: solid 3px #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

.price__controls label:hover {
  background: #283645;
  opacity: 0.9;
}

.price__wrapper {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    width: 660px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 9px;
    width: 960px;
    margin: 0 auto;
  }
}

.price-table {
  width: calc(300% - 133px);
  border-collapse: collapse;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: translateX(-30%);

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

th.price-table__cell {
  padding: 0 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  background: #283645;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 11px 17px 15px;
  }
}

td.price-table__cell:first-child .price-table__cell-headline::after,
td.price-table__cell:first-child .price-table__cell-headline::before {
  content: none;
}

.price-table__cell {
  padding: 0 0 2px;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 25%;
    padding: 5px 0 11px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 19px 13px 19px;
  }
}

.price-table__cell-inner--hit {
  position: relative;
}

.price-table__cell-inner {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.price-table__cell-inner--hit::before {
  position: absolute;
  margin: auto;
  top: -12px;
  bottom: auto;
  left: -57px;
  right: 184px;
  content: "хит";
  width: 119px;
  height: 46px;
  font-size: 13px;
  line-height: 66px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 25px solid #d22856;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  transform: rotate(-45deg);
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 99px;
    top: -13px;
    left: -40px;
    right: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 121px;
    top: -12px;
    left: -56px;
    right: 180px;
  }
}

.price-table__cell:first-child {
  display: none;

  .price-table__cell-headline {
    @media (min-width: $tablet-width) {
      display: table-cell;
      padding-left: 15px;
      font-size: 14px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      padding-left: 3px;
    }
  }

  @media (min-width: $tablet-width) {
    display: table-cell;
  }
}

.price-table__cell-title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 0;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price-table__cell-cost,
.price-table__cell-headline {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: #f1f2f3;
  text-transform: uppercase;
}

.price-table__cell-headline {
  position: relative;
  padding-left: 19px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #283645;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
    font-size: 0;
    text-transform: none;
  }
}

.price-table__cell-headline::after,
.price-table__cell-headline::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: 19px;
  width: 35px;
  height: 3px;
  background-color: #f25b26;
  transform: rotate(45deg);

  @media (min-width: $tablet-width) {
    right: 60px;
  }

  @media (min-width: $desktop-width) {
    right: 82px;
  }
}

.price-table__cell-headline::after {
  transform: rotate(-45deg);
}

.price-table__cell-headline--on::before {
  width: 13px;
  height: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0);
  border-right: 4px solid #3dc644;
  border-bottom: 4px solid #3dc644;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 31px;
    right: 70px;
  }

  @media (min-width: $desktop-width) {
    height: 30px;
    top: -11px;
    right: 89px;
  }
}

.price-table__cell-headline--on::after {
  display: none;
}

th.price-table__cell:first-child {
  @media (min-width: $tablet-width) {
    border: none;
    opacity: 0;
  }
}

.price-table__cell-cost {
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.btn-price-1:checked ~ .price__controls label[for="btn-price-1"],
.btn-price-2:checked ~ .price__controls label[for="btn-price-2"],
.btn-price-3:checked ~ .price__controls label[for="btn-price-3"] {
  background: #ffffff;
  border: solid 3px #283645;
  opacity: 1;
}

.btn-price-1:checked ~ .price__wrapper .price-table {
  transform: translateX(23px);

  @media (min-width: $tablet-width) {
    transform: none;
  }
}

.btn-price-2:checked ~ .price__wrapper .price-table {
  transform: translateX(calc(-33.333333% + 23px));

  @media (min-width: $tablet-width) {
    transform: none;
  }
}

.btn-price-3:checked ~ .price__wrapper .price-table {
  transform: translateX(calc(-66.666666% + 24px));

  @media (min-width: $tablet-width) {
    transform: none;
  }
}
