.price {
  background: #f2f2f2;
  overflow: hidden;
}

.price__table-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #283645;
  border: 2px solid #283645;
  border-radius: 1px 0 0 0;
}

.price__value {
  position: relative;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 20px;
  width: 276px;
}

.price__table-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #626263;
}

.price__slider-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__cotainer {
  display: flex;
  flex-direction: column;
}

.price__table {
  transform: translateX(-90px);
}
