.researches__container {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 940px;
  }
}

.researches__img {
  grid-row: 1/1;
  grid-column: 1/2;
  padding-top: 81px;
}

.researches__info-block {
  grid-row: 1/1;
  grid-column: 2/2;
}

.researches__title {
  grid-row: 1/1;
  grid-column: 2/2;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: left;
  padding-top: 123px;
  margin-bottom: 8px;
  padding-left: 56px;
}

.researches__content {
  grid-row: 2/2;
  grid-column: 2/2;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  padding-left: 56px;
  text-align: left;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.researches__link {
  grid-row: 3/3;
  grid-column: 2/2;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #d22856;
}
