.reviews {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 32px;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}

.reviews__avtor {
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  font-style: normal;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.reviews__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 102px;

    br {
      display: none;
    }
  }
}

.reviews__radio li {
  list-style: none;
}

.reviews__user {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
  }
}

.reviews__radio {
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
