.reviews {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 32px;
  margin-top: -51px;
  z-index: 20;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
    margin-bottom: 0;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}

.reviews__avtor {
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  font-style: normal;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 82px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 78px;
    padding-right: 78px;
  }
}

.reviews__radio li {
  list-style: none;
}

.reviews__user {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__radio {
  display: flex;
  justify-content: space-between;
  content: "";
  position: absolute;
  margin: auto;
  top: auto;
  bottom: -1px;
  left: -45px;
  right: 0;
  width: 110px;
  text-align: center;
  z-index: 60;

  @media (min-width: $tablet-width) {
    bottom: -22px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__radio-input {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.reviews__radio-control {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 6px;
  vertical-align: middle;
  background: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}

.reviews__radio-input1:checked ~ .reviews__radio-control1,
.reviews__radio-input1:checked ~ .reviews__radio-control2,
.reviews__radio-input1:checked ~ .reviews__radio-control3 {
  background: #ffffff;
  border: solid 3px #283645;
  width: 12px;
  height: 12px;
}

.reviews__avtor::before {
  @media (min-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    margin: auto;
    top: -82px;
    bottom: auto;
    left: 0;
    right: 0;
    content: "“";
    font-size: 182px;
    line-height: 63px;
    font-weight: 700;
    font-family: "Georgia", sans-serif;
    color: #efefef;
    z-index: 20;
    transform: translate(0%, 180%);
  }
}

.reviews__arrow-left,
.reviews__arrow-right {
  @media (min-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    display: block;
    width: 28px;
    height: 42px;
    top: 44%;
    background: 0 0;
    z-index: 10;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.reviews__arrow-left {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $desktop-width) {
    left: 10px;
  }
}

.reviews__arrow-right {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $desktop-width) {
    right: 10px;
  }
}

.reviews__arrow-left::before {
  @media (min-width: $desktop-width) {
    left: 5px;
    transform: rotate(-135deg);
  }
}

.reviews__arrow-right::before {
  @media (min-width: $desktop-width) {
    right: 5px;
    transform: rotate(45deg);
  }
}

.reviews__arrow-left::before,
.reviews__arrow-right::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 5px;
    width: 28px;
    height: 28px;
    border-top: 3px solid #283645;
    border-right: 3px solid #283645;
    opacity: 0.3;
  }
}
