.reviews {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.reviews__item {
  width: 280px;
  margin: 0 auto;
}

.reviews__avtor {
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  font-style: normal;
  width: 280px;
  padding-left: 55px;
}

.reviews__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.reviews__radio li {
  list-style: none;
}
